



.search-tray-box{
    padding: 15px;
    .search-tray-paper{
        padding: 10px 15px 10px 15px;
    }

    .search-tray-header{
        margin-bottom: 10px;
    }
}


.hacker-news-card{
    .storyText{
        margin-top: 5px;
    }
}